<% if @cart_line_items.empty? %> 
    <p>Your cart is empty. Continue shopping <%= link_to "here", products_path %> </p>
<% else %>

<table border="1">
    <thead>
        <tr>
            <th> # </th>
            <th> Product </th>
            <th> Price </th>
            <th> Quantity </th>
            <th> Total </th>
            <th> Action </th>
        </tr>
    </thead>

    <tbody>

        <% sum = 0 %>
        <% @cart_line_items.each_with_index do |cart_line_item, index| %> 
            <tr>    
                <td><%= index + 1 %></td>
                <td><%= cart_line_item.product.name %></td>
                <td><%= cart_line_item.product.price %></td>
                <td><%#= cart_line_item.quantity %>
                <%= form_for cart_line_item do |f| %>
                    <%= f.select :quantity, [1,2,3,4,5] %>
                    <%= f.submit "Update quantity" %>
                <% end %>
                </td>
                <% total = cart_line_item.product.price * cart_line_item.quantity %>
                <td><%= total %>
                <% sum += total %>
                </td>
                <td><%= link_to "remove", cart_line_item_path(cart_line_item.id), method: :delete, data: {confirm: "Are you sure?"} %> </td>
            </tr>
        <% end %> 
    </tbody>
</table>

<b> Total : <%= sum %> </b>

<% end %>


<%= form_for @order do |f| %>
<%#= current_user.addresses.each do |address| %>
<%#= f.radio_button :address_id, address.id %>
<%#= address.full_address %>
<br/>

<%= f.submit "CheckOut" %>
<% end %>

