<h2> <%= @product.name %> </h2>

<% if user_signed_in? && current_user.is_admin %>

<%= link_to "edit", edit_product_path(@product.id) %>
<%= link_to "destroy", product_path(@product.id), method: :delete, data: {confirm: "are you sure?"} %>

<% end %>


<p>Price: <%= @product.price %> </p>
<p>Description: <%= @product.description %> </p>
<p>Stock: <%= @product.stock %> </p>
<p>code eligibility: <%= @product.code_eligibility %> </p>
<p>image_url: <%= @product.image_url %> </p>

<p>category: <%= link_to @product.category.name, category_path(@product.category_id) %> </p>

<p>sub_category: <%= link_to @product.sub_category.name %> </p>


<%= form_for @cart_line_item do |f| %>

<%= f.label :quantity %></br>
<%= f.select :quantity, [1,2,3,4,5] %><br/>

<%= f.hidden_field :product_id, value: @product.id %> 

<%= f.submit "Add To Cart" %>

<% end %> 


<h2> Reviews: (<%= @product.reviews.length %>) </h2>

<ol>
<% @product.reviews.each do |review| %>
   <li>
       <%= review.user.email %> rated: <%= "*"* review.rating %> <br/>
       <%= review.title %> - <%= review.body %> on <%= review.created_at %> <br/>

       <% if user_signed_in? && review.user_id == current_user.id %>
       <%= link_to "Delete" %>
       <% end %>
    </li>
<% end %>
</ol>


<h2> Add review </h2>

<%= form_for @review do |f| %>

<%= f.label :rating %> <br/>
<%= f.radio_button :rating, 1 %>1
<%= f.radio_button :rating, 2 %>2
<%= f.radio_button :rating, 3 %>3
<%= f.radio_button :rating, 4 %>4
<%= f.radio_button :rating, 5 %>5
<br/>

<%=f.label :title %> <br/>
<%= f.text_field :title %> <br/>


<%=f.label :body %> <br/>
<%= f.text_area :body %> <br/>


<%= f.hidden_field :product_id, value: @product.id %>

<%= f.hidden_field :user_id, value: current_user.id %>

<%= f.submit %>

<% end %>

<%= link_to "Back", products_path %>

